{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="col-md-5" style="margin-left: 320px; margin-top: 100px;">
        {% for pitch in posts %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{pitch.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{pitch.category}}</h6>
              <p class="card-text"> {{pitch.post}}</p>
              <a href="" class="card-link">Comment</a>
             
            </div>
          </div>
       
        {% endfor %}
{% endblock %}